/**
#9B0101 - Dark Red


**/

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  width: 114rem;
  margin: 0 auto;

  @media only screen and (max-width: 56.25em){
    width: 95rem;
    margin: 0;
  }

  @media only screen and (max-width: 31.25em){
    width: 100%;
    margin: 0;
  }
}

main {
  margin-bottom: 3.6rem;
}


.top--header {
  font-size: 4.4rem;
  font-family: 'Crimson Text', serif;
  font-weight: 700;
  color: #9B0101;
  padding: 1.5rem 0 1.0rem 0;
  border-bottom: 3px solid #000;
  text-align: center;
  

  @media only screen and (max-width: 31.25em){
    padding: .5rem;
    font-size: 2.4rem;
    display: block;
  }
} 

.main-logo {
  color: #343a40;
  line-height: 1.1;

}

.jumbotron {
  height: 85vh;
  background: url(../img/santa_img_new.jpg) no-repeat center center; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
 

  @media only screen and (max-width: 31.25em){
    height: 40vh;
    clip-path: polygon(0 0, 100% 0, 100% 35vh, 0 100%);
  }
}

.jumbotron-text {
  font-family: 'Mountains of Christmas', serif;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 1.2;
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 30%;
  transform:translate(-50%, -50%);
  text-align: center;


  @media only screen and (max-width: 56.25em){
    font-size: 3.5rem;

  }
  

  @media only screen and (max-width: 31.25em){
    font-size: 2.3rem;
    top: 15%;
    left: 5%;
    transform:translate(0, 0);
  }
}

.jumbotron-text-lg {
  font-size: 8.5rem;

  @media only screen and (max-width: 31.25em){
    font-size: 4.3rem;
  }
}

.wish-list-header {
  font-family: inherit;
  font-size: 5.2rem;
  color: #9B0101;
  font-weight: 700;
  text-align: center;
  margin: 3.4rem 0;

  @media only screen and (max-width: 31.25em){
    font-size: 3.2rem;
    margin-top: 2.2rem;
  }
}

.wish-list-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  row-gap: 40px;
  column-gap: 40px;
  margin: 0 2.5rem;

  @media only screen and (max-width: 56.25em){
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 31.25em){
    grid-template-columns: 1fr;
    row-gap: 0;
    column-gap: 0;
  }
}

.wish-list-box {
  border: 1px solid #adb5bd;
  border-radius: 8px;
  box-shadow: 0 2rem 2rem rgba(#000, .2);
  overflow: hidden;

  @media only screen and (max-width: 31.25em){
    margin-bottom: 2rem;
  }
}

.wish-list-box-header {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  padding: 1.5rem;
  background-color: #868e96;
}

.wish-list-list {
  list-style-type: none;
  font-size: 1.8rem;
  color: #9B0101;
  font-weight: 700;
  padding: 3.5rem 2.5rem;

  display: flex;
  flex-direction: column;
  gap:15px;
}

.wish-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}


.footer {
  margin-top: 4.2rem;
  background-color: #000;
  height: 4rem;
  margin: 0;
  max-width: 100%;
  width: 100%;
  color: #eee;
  text-align: center;
  font-size: 1.2rem;
  padding: 1.5rem 0;
}

.yellow-color {
  color: #ffd43b;
}

.red-color {
  color: #9B0101;
}

.list-item-link:link, .list-item-link:visited {
  color: #9B0101;
  text-decoration: none;
  cursor: pointer;
}